header, footer {
    background-color: rgb(224, 208, 59);
}
header {
    text-align: left
}
footer, h1 {
    text-align: center;
}
body {
    background-color: bisque
}
h1 {
    font-family: 'Lobster';
}
/*links*/
a {
    font-family: serif;
    text-decoration: underline;
    font-weight: lighter;
}
a:link {
    color: #44749d;
}
a:visited {
    color:#251906
}
a:hover {
    color: #058516;
    text-decoration: none;
    font-weight: bold;
}
a:active {
    color: #8c2238;
    text-decoration: none;
}
/*this is to use a fixed background image
body {
    background-image: url(images/ingredients3.JPG);
    background-attachment: fixed;
    background-size: 100%;
}
*/
table, th, td {
    border: 1px solid #000000; /* pavement behaivior by autopsyturvy - colourlovers.com */
    padding: 5px 100px 5px 100px; /* top right bottom left */
    border-spacing: 2px 5px;
    border-collapse: collapse
}
    
table {
    width: 100%;
    
}
    
td, th {
    height: 30px;
}
    
th {
    background-color: #f3c570; /* hush by oblivious - colourlovers.com */
    color: rgb(0, 0, 0);
    font-weight: 900;
}
    
tr:nth-child(odd) {
    background-color: #b1b347; /* in flowers by kinkajou888 - colourlovers.com */
}

/* Form styling */

input[type=text] {
	background-color: 		#ffffff;
	border:		2px	solid	#292533;
	width:		100%;
	padding:	12px	20px;
	margin:		8px 0;
    box-sizing:	border-box;
	
}
/*
fieldset {
	background-color: #ffffff;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing:	border-box;

}*/

input, label {
	font-size: 16px;
	font-family: Arial, Helvetica, serif;
	font-weight: bold;
}

legend {
	font-size: 16px;
	font-family:	Arial, Helvetica, serif;
	font-weight: bold;
}

select {
	background-color:	#ffffff;
	width:	100%;
	padding:	12px 20px;
	margin:	8px 0;
	box-sizing:	border-box;
}

textarea {
	width: 100%;
	height: 200px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #000000;
	background-color: #ffffff;
	resize: none;
}

input, submit{
	background-color: #8c2238;
	border: none;
	color: white;
	padding: 12px 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
