header,footer {
    background-color: azure;
    text-align: left;
}
a {
    font-weight: bold
}
body {
    background-color: bisque
}
a {
    font-family: serif;
    text-decoration: underline;
    font-weight: none;
}
a:link {
    color: #44749d;
}
a:visited {
    color:#251906
}
a:hover {
    color: #058516;
}
a:active {
    color: #8c2238;
}
