header,footer {
    background-color: azure
}
a {
    font-weight: bold
}
body {
    background-color: bisque
}
a {
    font-family: serif;
    text-decoration: underline;
    font-weight: none;
}
a:link {
    color: #44749d;
}
a:hover {
    color: #8c2238;
}
a:active {
    color: #8c2238;
}
#navigation {
    align-content: center
}